<form>
  <mat-form-field class="col">
    <input matInput id="alertPrice" required type="number"
           [(ngModel)]="alert.price" name="alertPrice">
    <mat-placeholder>Alert Threshold</mat-placeholder>
  </mat-form-field>
  <mat-radio-group matInput required [(ngModel)]="alert.isUpward" name="alertDirection">
    <mat-radio-button value="1">Up</mat-radio-button>
    <mat-radio-button value="0">Down</mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button (click)="onSubmit()"
          class="btn btn-success" [disabled]="!isEnabled()">
    Save
  </button>
</form>
